opencv-python==4.5.3.56
numpy==1.21.2
scikit-learn==0.24.2
dlib==19.22.0
apache-beam
avro-python3
contextlib2
Cython
keras
lvis
matplotlib
pandas
pillow
pycocotools
pyparsing==2.4.7
sacrebleu<=2.2.0
six
tensorflow_io
tf-models-official>=2.5.1
tf-slim
tensorflow-text==2.10.0